body {
    background-color: rgb(49, 49, 49); 
    font-family: 'Mulish', sans-serif; 
    text-align: justify;

    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.column {
    background: #D7E8D4;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 5;
}

main {
    background-color: rgb(116, 72, 146);
    height: 90vh;
}

header {
    background-color: aqua;
    height: 5vh;
}
footer {
    background-color: aquamarine;
    height: 5vh;
}

@media screen and (max-width: 575px) {
    body {
        flex-direction: column;
    }
    header, footer {
      height: 10vh;
    }
    .column {
        width: 0;
        order: 100;
    }
  }