.content {
    display: flex;
    flex-flow: row wrap;
    width: 75%; 
    height: 450px;
    margin: auto;
  }

.blok {
    order: 1; 
    flex: 1 1 30%;
    background-color: #ccc;
    margin: 5px;
}

article {
    order: 2; 
    flex: 1 1 auto;
    background-color: #bbb;
    margin: 5px;
    padding: 7px;
}

p {
    color: #fff;
    padding: 15px;
    font-size: 22px;
}
