body {
    background-color: rgb(233, 230, 217); 
    font-family: 'Mulish', sans-serif; 
    text-align: justify;
}
.container {
    display: flex;
    min-height: 5vh;
    flex-direction: column;
}

.nav_container {
    display: flex;
    min-height: 5vh;
    flex-direction: row;
}

.nav_container > div {
    justify-content: right;
}

main {
    background-color: rgb(116, 72, 146);
    height: 5vh;
}

header {
    background-color: aqua;
    height: 5vh;
}
footer {
    background-color: aquamarine;
    height: 5vh;
}

.linkdetail {
    background-color: #fff;
    height: 3vh;
    width: 10vw;
    margin: 5px;
}