:root {
  --body-color: whitesmoke;

  --card-color: white;
  --card-shadow: grey;

  --text-base: black;
  --text-grey: rgb(82, 82, 82);

  --link: rgb(0, 95, 183);
  --link-hover: rgb(34, 145, 243);
}

body {
  font-family: Arial,sans-serif;
  font-size: 130%;
  line-height: 1.52;
  letter-spacing: 1px;
  overflow-wrap: break-word;
  margin: 0%;
  height: 100vh;
  background-color: var(--body-color);
}

header {
  padding-top: 20px;
  text-align: center;
}

.main {
  padding-top: 20px;
  color: var(--text-base);
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
  color: var(--text-grey);
  opacity: 0.8;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  height: 3px;
  background: var(--text-grey);
  opacity: 0.5;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

h3 {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  color: var(--text-grey);
}

h2 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  color: var(--text-grey);
  text-align: center;
}

h1 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  text-align: center;
}

span {
  padding-left: 15px;
  padding-right: 15px;
}

.blog ul {
  margin-left: 0;
  padding-left: 15px;
}

.blog li {
  list-style-type: none;
}

.home-main ul {
  margin-left: 0;
  padding-left: 0;
}

.home-main li {
  list-style-type: none;
}

.home-main span {
  color: var(--text-grey);
}

.epigraph {
  padding-left: 5%;
  width: 90%;
  font-style: italic;
  text-align: center;
}


.spacer {
  padding-top: 15px;
}

.time {
  font-weight: lighter;
  color: var(--text-grey);
}


.blog-link {
  font-weight: bold;
  font-size: 120%;
}

.blog-description {
  padding: 0;
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.toplinks {
  font-size: large;
}

.toplinks a {
  padding-right: 10px;
}

.background {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 0px;
  box-shadow: 5px 5px 10px var(--card-shadow);
  background-color: var(--card-color);
}

.container-flex {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.home-aside, .home-main {
  width: 100%;
}

.home-main {
  text-align: center;
}

.image-div {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.avatar {
  margin-top: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


@media only screen and (min-width: 800px) {

  body {
      font-size: 110%;
  }

  header, footer, main, article {
      padding: 1%;
      margin: 0 20%;
  }

  h1, h2 {
    text-align: left;
  }

  .main {
    padding-top: 0px;
  }

  .background {
    border-radius: 13px;
    /* box-shadow: 5px 5px 15px var(--card-shadow); */
  }

  .home-aside {
    width: 300px;
  }
  
  .home-main {
    margin-top: 20px;
    width: 200px;
    flex-grow: 1;
    text-align: left;

  }

  .epigraph {
    text-align: right;
    padding-left: 20%;
    width: 80%;
  }

  .blog-description {
    width: 80%;
  }

  .image-div {
    align-items: right; 
    justify-content: right;
    margin-right: 20px;
  }

}
